.color-paint{
  background-color: #f08dca !important;
}

/*Color footer*/
.colorpink {
  background-color: #d74ce4;
}

.colorblack
{
  color: #000000 !important;
}

.colororanch:hover {
  color: #000000 !important;
}

/*Section footer*/
#footer .footer-bottom {
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff;
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #cecb26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}

#footer .social-icons ul li a.twitter:hover {
  background-color: #000000;
}

#footer .social-icons ul li a.phone:hover {
  background-color: #28c023;
}

#footer .social-icons ul li a.maps:hover {
  background-color: #ff6b00;
}

#footer .social-icons ul li a.instagram:hover {
  background-color: #a1285b;
}

#footer .social-icons ul li a.youtube:hover {
  background-color: #ff0000;
}

#footer .social-icons ul li a.tiktok:hover {
  background-color: #000000;
}

.social-icons {
  margin-top: 30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color: #fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.icon-compass:before {
  content: "\e949";
}
